body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    /* Agrega estilos para el contenido principal */
    flex: 1;
}

footer {
    padding: 15px;
    background-color: black;
    color: #fff;
}
.fondo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.pinimg.com/1200x/a3/3d/20/a33d20c9ac72f13eafe6a80af1907c8e.jpg');     
}

.cuerpoCard{
    background: linear-gradient(to bottom right, rgb(238, 238, 238), rgb(21, 20, 19));
}

div > p{
    color: black;
    font-family:sans-serif;
}


